.flex {
  display: flex;
  justify-content: space-around;
}
.almost-white {
  color: beige;
}

.blinking-text {
  /* Smooth blinking effect */
  animation: blinker 10s ease-in-out infinite;
}

@keyframes blinker {
  0%, 90% {
    opacity: 0;
  }
  94% {
    opacity: 0;
  }
  95%, 100% {
    opacity: 1;
  }
}

.option {
    display: inline-block;
    padding: 10px;
    border-radius: 10px ;
    margin: 10px;
    background: lightgray;
}

.very-big {
    font-size: 1.8em;
}

code {
    background-color: #f3f3f3;
}

.not-slipshow {
    background: black;
}

.poll-answered {
    background: lightgrey;
}

.poll-result {
    opacity: 0;
}

.revealed-resuslts .poll-result {
    opacity: 1;
}

.poll_element_children:hover {
    background-color: grey;
    cursor: pointer;
}

.poll_element {
    display: flex;
    justify-content: space-around;
}
